  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="{{ url_for('weather_process') }}">Погода</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-1" aria-controls="navbarNavDropdown-1"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center" id="navbarNavDropdown-1">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="https://drive.google.com/file/d/1a-x_gI01x3zn3ZtPWCJR9b8YKdVAp3qc/view?usp=sharing">Видео использования
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/YauhenRanko/yandex_cloud_test">GitHub</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>